---
import Button from "../shared/Button.astro";

export const prerender = true;

const slides_info = [
    {
        slide: "slide-1",
        title: "Tu página web esta cerca, hace falta un click",
        info: "En el mundo digital actual, tu presencia en línea es más crucial que nunca. Una página web no es solo una opción, ¡es una necesidad para cualquier empresa seria!",
        lootie: "https://plus.unsplash.com/premium_photo-1661877737564-3dfd7282efcb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZ3JhbW1pbmclMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80",
    },
    {
        slide: "slide-2",
        title: "Desarrollo Rápido y Atractivo",
        info: "En Isa Web Agency, la velocidad es clave. Nuestro equipo altamente capacitado crea sitios web atractivos y veloces que superan tus expectativas sin sacrificar la funcionalidad. Enfocados en cautivar a tus visitantes, mantenemos la velocidad en primer plano.",
        lootie: "https://ivorysoluciones.com/wp-content/uploads/2018/03/gafas-ordenador.jpg",
    },
    {
        slide: "slide-3",
        title: "Éxito Empresarial a Través de tu Página Web",
        info: "Alcanza tus objetivos empresariales con nosotros. Nuestros impactantes diseños y optimización constante aumentan la visibilidad en línea, la conversión de clientes y el crecimiento de tu negocio. Isa Web Agency es tu camino hacia el éxito en línea.",
        lootie: "https://i.blogs.es/3ea7db/1366_2000-23-/1366_2000.jpg",
    },
];
---

<div class="animationSellings" id="animationSellingsId">
    {
        slides_info.map((slide) => (
            <div class={`slide ${slide.slide}`}>
                <div class="selling-text-section">
                    <div class="selling-text-title">{slide.title}</div>
                    <p class="selling-text-description">{slide.info}</p>
                    <Button color="bg-black" link="#form_section">
                        Click!
                    </Button>
                </div>
                <div class="boxSellingsRight">
                    <img src={slide.lootie} />
                </div>
            </div>
        ))
    }
</div>
<!-- <div class="divisor"></div> -->

<style>
    .animationSellings {
        margin-top: -120px;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #fae053;
    }

    .slide {
        width: 100%;
        position: absolute;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    .slide > div {
        width: 60%;
        gap: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .selling-text-section {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-left: clamp(70px, 18%, 100px);
        padding-right: clamp(70px, 18%, 100px);
    }

    .selling-text-title {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: clamp(18px, 4vw, 46px);
    }

    .selling-text-description {
        font-size: clamp(18px, 4vw, 24px);
    }

    /* animation stiles right and left */

    .boxSellingsRight {
        height: 100vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .boxSellingsRight img {
        width: 480px;
        height: 480px;
        border-radius: 20px;
    }

    /* .divisor {
        position: relative;
        display: block;
        height: 200000px;
        width: 100%;
        background-color: red;
    } */
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/dist/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const box = document.getElementById("animationSellingsId");

    let timelineBoxAppear = gsap.timeline({
        scrollTrigger: {
            trigger: ".animationSellings",
            start: "top center",
            end: "top",
            scrub: 0.5,
            // markers: {
            //     startColor: "yellow",
            //     endColor: "blue",
            // },
        },
    });
    timelineBoxAppear.fromTo(
        box,
        {
            opacity: 0,
            x: -1000,
        },
        {
            opacity: 1,
            x: 0,
            duration: 1.5,
        },
    );

    gsap.set(".slide-1", { opacity: 1 });

    let timelineSlidePinned = gsap.timeline({
        scrollTrigger: {
            trigger: ".animationSellings",
            start: "top top",
            scrub: true,
            pin: true,
            end: "bottom+=3000px",
            // markers: true,
        },
    });
    timelineSlidePinned.to(".slide-1", { opacity: 0 });
    timelineSlidePinned.to(".slide-2", { opacity: 1 });
    timelineSlidePinned.to(".slide-2", { opacity: 0 });
    timelineSlidePinned.to(".slide-3", { opacity: 1 });
</script>
