---
//	Components
import Layout from "../layouts/Layout.astro";
---

<Layout title="ISA Digital Agency">
	<main>
		<section class="selection-page-section">
			<div class="option-">ISA WOW</div>
			<div class="option-">ISA ENTERPRISE</div>
		</section>
	</main>
</Layout>

<style>
	main {
		height: 100%;
	}

	.selection-page-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.selection-page-section > div {
		height: 100vh;
	}
</style>
