---
//	Components
import Layout from "../layouts/Layout.astro";

import AnimationSellings from "../components/animations/AnimationSellings.astro";
import Hero from "../components/Hero.astro";
import Benefits from "../components/Benefits.astro";
import Form from "../components/Form.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<AnimationSellings />
		<Benefits />
		<Form />
	</main>
</Layout>

<style>
	main {
		height: 100%;
	}
</style>
