---
//	Components
import Layout from "../layouts/Layout.astro";
import Button from "../components/shared/Button.astro";
import AnimationHome from "../components/animations/AnimationHome.astro";
import AnimationSellings from "../components/animations/AnimationSellings.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="hero-general-section">
			<div class="hero-text-section">
				<div class="hero-text-title">
					Exitoso y Reconocido
					<span>Con una Web</span>
				</div>
				<p>
					En Isa Web Agency, entendemos que el tiempo es esencial en
					el mundo empresarial. Es por eso que nos enorgullece ser tu
					opción número uno para el desarrollo web rápido y eficaz.
				</p>
				<Button color="bg-black">Contactanos</Button>
			</div>
			<AnimationHome />
		</section>
		<AnimationSellings />
	</main>
</Layout>

<style>
	main {
		height: 100%;
	}

	.hero-general-section {
		margin: 0px auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 200px;
		padding-left: clamp(70px, 18%, 700px);
		padding-right: clamp(70px, 18%, 700px);
	}

	.hero-text-section {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	.hero-text-section .hero-text-title {
		display: flex;
		flex-direction: column;
		font-weight: 700;
		font-size: clamp(18px, 4vw, 60px);
	}

	.hero-text-section p {
		font-size: 18px;
	}
</style>
