---
//	Components
import Layout from "../layouts/Layout.astro";

import AnimationSellings from "../components/animations/AnimationSellings.astro";
import Hero from "../components/Hero.astro";
import Benefits from "../components/Benefits.astro";
import Form from "../components/Form.svelte";
import SocialMedia from "../components/SocialMedia.astro";
---

<Layout title="ISA Digital Agency">
	<main>
		<Hero />
		<AnimationSellings />
		<Benefits />
		<Form client:only />
		<SocialMedia />
	</main>
</Layout>

<style>
	main {
		height: 100%;
	}
</style>
