---
import Facebook from "./icons/Social/Facebook.astro";
import Instagram from "./icons/Social/Instagram.astro";
import Linkedin from "./icons/Social/Linkedin.astro";
---

<footer>
    <div class="background">
        <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="100%"
            height="100%"
            viewBox="0 0 1200 1000"
        >
            <defs>
                <linearGradient id="bg" x2="0%" y2="100%">
                    <stop
                        offset="0%"
                        style="stop-color: rgba(255, 222, 89, 0.6)"></stop>
                    <stop
                        offset="100%"
                        style="stop-color: rgba(255, 222, 89, 0.06)"></stop>
                </linearGradient>
                <path
                    id="wave"
                    fill="url(#bg)"
                    d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
    s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z"
                ></path>
            </defs>
            <g>
                <use xlink:href="#wave" opacity=".3">
                    <animateTransform
                        attributeName="transform"
                        attributeType="XML"
                        type="translate"
                        dur="8s"
                        calcMode="spline"
                        values="270 230; -334 180; 270 230"
                        keyTimes="0; .5; 1"
                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                        repeatCount="indefinite"></animateTransform>
                </use>
                <use xlink:href="#wave" opacity=".6">
                    <animateTransform
                        attributeName="transform"
                        attributeType="XML"
                        type="translate"
                        dur="6s"
                        calcMode="spline"
                        values="-270 230;243 220;-270 230"
                        keyTimes="0; .6; 1"
                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                        repeatCount="indefinite"></animateTransform>
                </use>
                <use xlink:href="#wave" opacity=".9">
                    <animateTransform
                        attributeName="transform"
                        attributeType="XML"
                        type="translate"
                        dur="4s"
                        calcMode="spline"
                        values="0 230;-140 200;0 230"
                        keyTimes="0; .4; 1"
                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                        repeatCount="indefinite"></animateTransform>
                </use>
            </g>
        </svg>
    </div>

    <section>
        <ul class="socials">
            <li>
                <a
                    href="https://www.facebook.com/isa.agencyofficial"
                    target="_blank"><Facebook /></a
                >
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/company/isa-digital-agency/"
                    target="_blank"><Linkedin /></a
                >
            </li>
            <li>
                <a
                    href="https://www.instagram.com/isa.agencyofficial/"
                    target="_blank"><Instagram /></a
                >
            </li>
        </ul>
        <ul>
            <p>
                "En Isa Web Agency, transformamos tu visión en una experiencia
                web que cautiva, convierte y triunfa en el mundo digital. Tu
                éxito es nuestro código fuente."
            </p>
        </ul>
        <p class="legal">ISA © 2023 All rights reserved</p>
    </section>
</footer>

<style>
    .background {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    svg {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(3.2) scaleX(3.25);
        transform-origin: bottom;
        box-sizing: border-box;
        display: block;
        pointer-events: none;
    }

    footer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 460px;
        margin-top: 180px;
        overflow: hidden;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        margin-top: 180px;
        padding-left: clamp(60px, 40vw, 200px);
        padding-right: clamp(60px, 40vw, 200px);
    }

    section .socials a {
        fill: rgb(36, 36, 36);
        transition: all 0.2s ease-in;
    }

    section .socials a:hover {
        fill: #5e17eb;
    }

    ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
    }

    ul p {
        text-align: center;
        font-style: italic;
    }

    @media (max-width: 900px) {
        svg {
            top: 100px;
            transform: scaleY(2) scaleX(2.25);
        }

        footer {
            text-align: center;
            height: 360px;
            margin-top: 180px;
        }

        ul {
            margin: 0;
        }
        section {
            gap: 10px;
            width: 100%;
        }
    }

    @media (max-width: 900px) {
        section {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    footer {
        margin-top: 60px;
    }
</style>
