---
import Button from "../components/shared/Button.astro";
import AnimationHome from "../components/animations/AnimationHome.astro";

import "@fontsource/poppins/600.css";
---

<section class="hero-general-section">
    <div class="hero-text-section">
        <div class="hero-text-title">
            <span class="hw-h-p hw-size">EXITOSO</span> y <br />
            <span class="hw-h-s hw-size">RECONOCIDO</span>
            <br />
             con una <span class="hw-h-t hw-size">web</span>
        </div>
        <p>
            En Isa Web Agency, entendemos que el tiempo es esencial en el mundo
            empresarial. Es por eso que nos enorgullece ser tu opción número uno
            para el desarrollo web rápido y eficaz.
        </p>
    </div>
    <AnimationHome />
</section>

<style>
    .hero-general-section {
        position: relative;
        height: 100vh;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        padding-left: clamp(60px, 40vw, 200px);
        padding-right: clamp(60px, 40vw, 200px);
    }

    .hero-text-section {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .hero-text-section .hero-text-title {
        font-size: clamp(18px, 2vw, 40px);
        font-weight: 600;
    }

    .hero-text-section p {
        font-size: clamp(14px, 2vw, 18px);
    }

    @media (max-width: 1200px) {
        .hero-general-section {
            padding-left: clamp(100px, 10vw, 200px);
            padding-right: clamp(100px, 10vw, 200px);
        }
    }

    @media (max-width: 900px) {
        .hero-general-section {
            grid-template-columns: 1fr;
        }

        .hero-text-section {
            display: flex;
            text-align: center;
            align-items: center;
        }
    }

    @media (max-width: 500px) {
        .hero-general-section {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    @media (max-height: 800px) {
        .hero-general-section {
            margin: -30px auto;
        }
    }
</style>
