---
import Button from "./shared/Button.astro";
---

<header class="header-nav">
    <h2>Isa Web Agency</h2>
    <nav class="links-nav">
        <a href="">Lo que hacemos</a>
        <a href="">Redes</a>
        <Button color="bg-yellow" size="small-button" link="#form_section">
            Contactanos
        </Button>
    </nav>
</header>

<style>
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-left: clamp(70px, 18%, 700px);
        padding-right: clamp(70px, 18%, 700px);
        max-width: 100%;
    }

    .links-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 28px;
        letter-spacing: 1.5px;
    }

    .links-nav a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
</style>
