---
//Fonts
import "@fontsource/poppins";
import "@fontsource/antonio";
// Components
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

// Props
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--primary: rgb(255, 222, 89);
		--secondary: #00bf63;
		--tertiary: #5e17eb;
	}
	html {
		font-family: "Poppins";
		background: white;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	body {
		margin: 0;
		padding: 0;
		/* padding-left: clamp(70px, 18%, 700px);
		padding-right: clamp(70px, 18%, 700px); */
		width: 100%;
		height: auto;
		overflow-x: hidden;
	}

	.highlight-word {
		font-family: "Antonio";
		font-size: clamp(18px, 4vw, 80px);
	}

	.hw-h-p {
		position: relative;
	}
	.hw-h-s {
		position: relative;
	}
	.hw-h-t {
		position: relative;
	}

	.hw-h-p::before {
		/* Highlight color */
		background-color: var(--primary);
		content: "";
		position: absolute;
		width: calc(100% + 4px);
		height: 30%;
		left: -2px;
		bottom: 0;
		z-index: -1;
		transform: rotate(-2deg);
	}
	.hw-h-s::before {
		/* Highlight color */
		background-color: var(--secondary);
		content: "";
		position: absolute;
		width: calc(100% + 4px);
		height: 30%;
		left: -2px;
		bottom: 0;
		z-index: -1;
		transform: rotate(-2deg);
	}
	.hw-h-t::before {
		/* Highlight color */
		background-color: var(--tertiary);
		content: "";
		position: absolute;
		width: calc(100% + 4px);
		height: 30%;
		left: -2px;
		bottom: 0;
		z-index: -1;
		transform: rotate(-2deg);
	}

	.hw-size {
		font-size: clamp(18px, 4vw, 60px);
	}

	.hw-primary {
		color: var(--primary);
	}
	.hw-secondary {
		color: var(--secondary);
	}
	.hw-tertiary {
		color: var(--tertiary);
	}

	@media (max-width: 900px) {
		.highlight-word {
			font-family: "Antonio";
			font-size: 30px;
		}

		.hw-size {
			font-size: 30px;
		}
	}
</style>
